body {
    color:#777;
    background:#777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: '18px';
    width: 960px;
}


.grayCustom {
    text-align: center;
    width: 960px;
    height:50px;
    background:#ebebeb;
    color:#7777;
    margin-top: 6px;
    margin-bottom: 10px;
    padding-top: 20px;  
}


#article {
    background: gray;
    color: #ebebeb;
    margin-right: 10px;
    width: 473px;
    height: 177px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 19px;
    margin-top: 29px;
    margin-bottom: 300px;
}


#h1h2h3 {
    width: 430px;
    height: 38px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    background: #ebebeb;
    color: #7777;
    padding-top: 27px;
}


#p {
    width: 430px;
    height: 40px;
    margin-left: auto;
    margin-top: 9px;
    padding-top: 17px;
    margin-right: auto;
    color: #7777;
    background: #ebebeb;
}

#section {
    float:left;
    width: 495px;
    height: 250px;
    background: #ebebeb;
    color: #7777;
    text-align: center;
    padding-top:36px;
    margin-top: 10px;
    
} 

#aside {
    width: 442px;
    height: 255px;
    text-align: center;
    padding-top: 32px;
    margin-top: 10px;
    margin-bottom: 15px;
    float: right;
    margin-left: 1px;
    background: #ebebeb;
    color: #7777;
}

#footer {
    height: 50px;
    background: #ebebeb;
    color: #7777;
    text-align: center;
    padding-top: 39px;
    clear: both;
} */
